:root {
	--page-padding: 3rem;
}

html {
	font-family: sans-serif;
	background: rgb(0,164,255);
	background: linear-gradient(156deg, rgba(0,164,255,1) 0%, rgba(232,255,0,1) 100%);

	font-size: 12px;
	min-height: 100%;
}


body  {
	margin: 0;
}

.layout-pad {
	padding: var(--page-padding);
}

.layout-max {
	max-width: 1280px;
}

.imgs {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	padding: calc( var(--page-padding) * 0.5 );
}

.img-container {
	width: 100%;
	max-width: 1280px;
	flex-shrink: 1;
	flex-grow: 1;
	box-sizing: border-box;
	padding: calc( var(--page-padding) * 0.5 );
}

.img-container img {
	display: block;
}

img {
	max-width: 100%;
	height: auto;
}

a:link {
	color: inherit;
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	
	font-size: 1rem;
	padding: var(--page-padding) var(--page-padding) 0 var(--page-padding);
}

.site-title {
	
	margin-top: 0;
	font-size: min(10vw, 8rem);
	padding: calc(var(--page-padding) * 2) var(--page-padding) 0 var(--page-padding);
	text-transform: uppercase;

	position: sticky;
	top: 0;
	z-index: -1;

}

.site-title span {
	display: block;
}


.text-body {
	line-height: 1.5;
}


@media screen and (min-width: 768px) {
	:root {
		--page-padding: 4rem;
	}
	html {
		font-size: 18px;
	}
	.img-container {
		width: 50%;
	}
}

@media screen and (min-width: 1440px) {
	.img-container {
		width: 33.3333%;
	}
}